{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h3>{{ category | title }}</h3>
    <hr>
    {% for post in posts %}
        <div class="card mt-3">

            <div>
            
            <h5><a href="{% url 'sampleapp_detail' post.slug %}">{{ post.title }}</a></h5>

            <small class="mt-2">
                {{ post.created_on.date }} |&nbsp;
                Category:&nbsp;
                    {% for category in post.categories.all %}
                        <a href="{% url 'sampleapp_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                    {% endfor %}
            </small>

            <br/>
            <p class="mt-2">{{ post.body | striptags | slice:":400" }}...</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}


