{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row mt-3">
<div class="col-md-3 mt-3">
<!--sidebar-->
{% include 'sidebar.html' with most_recent=most_recent %}
</div>

<div class="col-md-9">

<h4 class="margin-2">Sample Published Posts</h4>

  <div class="main">
  {% for post in posts %}
    <div class="card mt-3">

        <div class="card-body">
          <h5><a href="{% url 'sampleapp_detail' post.slug %}">{{ post.title }}</a></h5>
            <small class="mt-2">
                {{ post.created_on.date }} |&nbsp;
                Category:&nbsp;
                {% for category in post.categories.all %}
                    <a href="{% url 'sampleapp_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                  {% endfor %}
            </small>
            <br>
            <p class="mt-2">{{ post.body | striptags | slice:":300" }}...</p>
        </div>
        
    </div>
    {% endfor %}



      <div class="d-flex justify-content-center align-items-center mt-3">
          <nav aria-label="...">
          {% if posts.has_other_pages %}
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li></span></li>
                {% else %}
                    <li class="page-item disabled"></li>
                {% endif %}

                {% for pages in posts.paginator.page_range %}
                    {% if posts.number == pages %}
                      <li class="page-item"><a class="page-link" href="#">{{pages}}</a></li></span></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% else %}
                  <li class="page-item disabled"></li>
                {% endif %}
            </ul>
            {% endif %}
          </nav>
      </div>




    </div>









  
  </div>


  </div>
  </div>
  </div>






{% endblock content %}